---
import Eventcard from "../components/Card.astro";
---

<article>
  <section class="section_events">
    <h2>Upcomming Events</h2>
    <h3>Med Cirkular Lab</h3>
    <div class="grid_1-1-1">
      <Eventcard />
      <Eventcard />
      <Eventcard />
    </div>
  </section>
</article>
<style>
  .section_events {
    padding-right: 60px;
    padding-left: 60px;
    background: var(--primary);
  }
</style>
