---
import Eventcard from "../components/Card.astro";
import arrowright from "../images/arrow_card_right.svg";
import arrowleft from "../images/arrow_card_left.svg";
import img1 from "../images/event1.webp";
import img2 from "../images/event2.webp";
import img3 from "../images/event3.webp";
import "../css/card.css";

const url = "https://svsblnghypojkwpyajnm.supabase.co/rest/v1/events";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2c2JsbmdoeXBvamt3cHlham5tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQzNTMzNjgsImV4cCI6MjA1OTkyOTM2OH0.GjC9pG1mZOeGjvvrBiQOMZR1J9aKpJlSrSYNkjKafQQ";
const options = { headers: { apikey: key } };

const data: any[] = await fetch(url, options).then((res) => res.json());

const images = [img1.src, img2.src, img3.src];
---

<article>
  <section class="section_events">
    <h2>Upcomming Events</h2>
    <h3>Med Cirkular Lab</h3>
    <div class="cards_container">
      <button class="card_arrow left_arrow">
        <img src={arrowleft.src} alt="gå til venstre" />
      </button>

      <div class="cards_layout">
        {
          data.map((event: any, index: number) => (
            <div class="event_card">
              <Eventcard
                event={event}
                billede={images[index % images.length]}
                billedebeskrivelse="billede af arrangement"
                afholder="CIRCULAR LAB"
              />
            </div>
          ))
        }
      </div>

      <button class="card_arrow right_arrow">
        <img src={arrowright.src} alt="gå til højre" />
      </button>
    </div>
  </section>
</article>

<style>
  .section_events {
    padding-right: 60px;
    padding-left: 60px;
    background: var(--primary);
    padding-bottom: 100px;
  }

  .section_events h3 {
    font-size: 3.5rem;
    color: var(--txtcolor2);
    font-weight: normal;
  }

  .section_events h2 {
    font-size: 6rem;
    color: var(--secondary);
  }
  @media (max-width: 800px) {
    .section_events {
      padding-right: 10px;
      padding-left: 10px;
      background: var(--primary);
      padding-bottom: 100px;
    }
    .section_events h3 {
      font-size: clamp(1rem, 5.5vw, 6rem);

      color: var(--txtcolor2);
      font-weight: normal;
    }

    .section_events h2 {
      font-size: 2rem;
      color: var(--secondary);
    }
    .card_text_box {
      font-size: 1.25rem;
    }
  }
</style>
