---
import "../images/lab.svg";
import "../images/Hero.svg";
---

<article>
  <section class="section_material">
    <div class="grid_3-4">
      <div class="lab_container1">
        <h2>Circular Material</h2>
        <img src="../images/Rectangle 20.png" alt="" class="material_img" />
      </div>
      <div class="lab_container2">
        <img src="../images//lab.svg" alt="" class="lab_img" />
        <div class="lab_text">
          <p>
            I Circular Material Lab, er der plads og rum for at udforske,
            eksperimentere og arbejde med materialer i alle afskygninger.
          </p>
          <p>
            fokus på bæredygtighed og cirkulær økonomi og arbejder med
            materialerne med dette for øje. Det er alt fra tang, bioplastik og
            bakterier, til hvordan man forlænger levetiden på eksisterende
            materialer i produkter, såsom oliebaseret plastik, tekstiler og
            papir og meget mere.
          </p>
          <p>
            Laboratoriet bruges til undervisning, workshops, arrangementer og
            eksperimenter.
          </p>
        </div>
      </div>
    </div>
    <div class="grid_info">
      <div class="subgrid">
        <p>Du kan komme ind i labbet ved brug af dit studiekort.</p>
        <p>
          For at bruge Circular Material Lab skal du være studerende på KEA og
          have en introduktion til maskinernes brug og sikkerhed. Kontakt den
          labansvarlige, hvis du har spørgsmål til maskiner eller har brug for
          vejledning.
        </p>
        <p>
          Har du spørgsmål til adgangen til Circular Material Lab, kan du
          kontakte os på material@kea.dk
        </p>
      </div>
      <div class="subgrid">
        <img src="../images/Group 63.svg" alt="" />
        <img src="../images/Group 63.svg" alt="" />
        <img src="../images/Group 63.svg" alt="" />
      </div>
    </div>
  </section>
</article>

<style>
  .section_material {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 80px;
  }
  .grid_3-4 {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
    gap: 20px;
    align-items: end;
  }

  .lab_container2 {
    display: grid;
    grid-row: 1fr;
    grid-row: 2fr 3fr 2fr;
  }

  .lab_img {
    grid-column: 1;
    grid-row: 1 / span 3;
    height: 100%;
  }

  .lab_text {
    background-color: white;
    grid-column: 1;
    grid-row: 2;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  /* Main container styling */
  .section_info {
    padding: 50px;
    border-radius: 53px;
  }

  /* Grid box setup */
  .grid_info {
    display: grid;
    grid-template-columns: 12fr 1fr;
    gap: 30px;
    align-items: stretch;
    background: #5dc4e5;
    padding: 30px;
    border-radius: 50px;
  }

  /* Text subgrid */
  .subgrid:first-child {
    display: grid;
    gap: 30px;
    align-content: center;
  }

  /* Button subgrid */
  .subgrid:last-child {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 15px;
    align-content: center;
  }
</style>
