/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

:root {
  --primary: #ff7e42;
  --secondary: #003b5c;
  --tertiary: #e0fff6;
  --quaternary: #5dc4e5;
  --quinary: #ffdece;
  --section1: #def7ff;
  --section2: #73c3ac;
  --txtcolor: #1a1a1a;
  --txtcolor2: #ffffff;
}

h1 {
  font-size: 5rem;
  font-family: "Roboto", serif;
  font-weight: bold;
  color: var(--secondary);
  cursor: default;
  line-break: auto;
}
h2 {
  font-size: 4rem;
  font-family: "Roboto", serif;
  font-weight: bold;
  color: var(--secondary);
  cursor: default;
}
h3 {
  font-size: 2rem;
  font-family: "Roboto", serif;
  font-weight: bold;
  color: var(--txtcolor);
  cursor: default;
}
h4 {
  font-size: 1.5rem;
  font-family: "Roboto", serif;
  font-weight: bold;
  color: var(--txtcolor);
  cursor: default;
  margin-bottom: 10px;
}
h5 {
  font-size: 1rem;
  font-family: "Roboto", serif;
  font-weight: bold;
  color: var(--txtcolor);
  cursor: default;
}
p {
  font-size: 1rem;
  font-family: "Roboto", serif;
  color: var(--secondary);
  cursor: default;
  margin-bottom: 20px;
  color: var(--txtcolor);
}
a,
li {
  font-size: 1.25rem;
  font-family: "Roboto", serif;
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
}

/* .flex {
  display: flex;
}

.flexcol {
  display: flex;
  flex-direction: column;
} */

@media (min-width: 800px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: clamp(1rem, 5.5vw, 6rem);
    white-space: nowrap;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 1.25rem;
  }
  a,
  li {
    font-size: 1.25rem;
  }
}
